
Project/.vs/Project/v17/.suo
Project/.vs/Project/config/applicationhost.config
Project/.vs/Project/DesignTimeBuild/.dtbcache.v2
Project/.vs/Project/FileContentIndex/2408d96d-9362-45f9-884e-08e16a4692ab.vsidx
Project/.vs/Project/FileContentIndex/6b11c9a4-a391-4278-9895-3c92e78992c8.vsidx
Project/.vs/Project/FileContentIndex/c7f95d7b-0f57-4985-8ad8-986dfa39d8ed.vsidx
Project/.vs/Project/FileContentIndex/df372670-b610-433b-bd2a-3f44df05ac80.vsidx
Project/.vs/Project/FileContentIndex/f06b3cdb-12cc-48af-a5c6-831cb62d768f.vsidx
