
Project/.vs/Project/config/applicationhost.config
Project/.vs/Project/DesignTimeBuild/.dtbcache.v2
Project/.vs/Project/FileContentIndex/279e4170-c43f-43e7-bdbd-a80c216dd0c8.vsidx
Project/.vs/Project/FileContentIndex/529ef14a-3b51-493c-8911-ad94182f5bed.vsidx
Project/.vs/Project/FileContentIndex/876b9662-148a-44b2-aee8-f8a50ea910f0.vsidx
Project/.vs/Project/FileContentIndex/a2345543-ac74-49c2-9670-ebe972c9f00a.vsidx
Project/.vs/Project/FileContentIndex/df372670-b610-433b-bd2a-3f44df05ac80.vsidx
Project/.vs/Project/v17/.suo
Project/.vs/Project/v17/DocumentLayout.json
Project/.vs/Project/FileContentIndex/67f416fa-223c-42b4-847f-48a7c808b472.vsidx
Project/.vs/Project/FileContentIndex/d87d5b67-56d1-43de-81b4-59c5ec0636f6.vsidx
Project/.vs/Project/FileContentIndex/ec26ceae-a4db-4669-96e8-2d1200a5ed06.vsidx
Project/.vs/Project/v17/DocumentLayout.backup.json
Project/.vs/Project/FileContentIndex/b3176b00-1a9f-4f65-aabc-b79d42030112.vsidx
Project/.vs/Project/FileContentIndex/9b2b6150-c3a1-4e8f-9ed9-9f2e99948985.vsidx
Project/.vs/Project/FileContentIndex/136591a7-1d6d-4f79-8e7b-7a73aa72bb12.vsidx
Project/.vs/Project/FileContentIndex/04bf4c6c-cceb-4fda-863f-07c17f49b654.vsidx
Project/.vs/Project/FileContentIndex/e14b8682-3b4b-47a1-b686-95dcbebf4912.vsidx
Project/.vs/Project/FileContentIndex/d6aee950-ee78-458c-ba85-ce5a74e51fae.vsidx
Project/.vs/Project/FileContentIndex/2b51e103-c2df-47bc-aeba-21b7ad755438.vsidx
Project/.vs/Project/FileContentIndex/1542bdf1-5652-4879-a935-b9a3ae4949db.vsidx
Project/.vs/Project/FileContentIndex/3413a733-8c62-47fe-ba2f-6477761d4fb0.vsidx
Project/.vs/Project/FileContentIndex/42f4ece7-e672-45e6-8d09-4bde966199f2.vsidx
Project/.vs/Project/FileContentIndex/515e4f05-1043-47de-8dd6-94ab9c54a033.vsidx
Project/.vs/Project/FileContentIndex/5feeb6ae-ffe4-4235-b041-081183bb6150.vsidx
Project/.vs/Project/v17/.futdcache.v2
Project/.vs/ProjectEvaluation/project.metadata.v8.bin
Project/.vs/ProjectEvaluation/project.projects.v8.bin
Project/.vs/ProjectEvaluation/project.strings.v8.bin
Project/.vs/Project/FileContentIndex/567e56d5-6025-449c-9732-321ce318b650.vsidx
Project/.vs/Project/FileContentIndex/8eb5bc33-4c61-4e18-aced-7db0b86b960d.vsidx
Project/.vs/Project/FileContentIndex/98993095-50ea-4771-9739-ac79bd0ce0fb.vsidx
Project/.vs/Project/FileContentIndex/f652b8cb-2032-4b22-9fd1-2199427a1f8f.vsidx
Project/.vs/Project/FileContentIndex/5070e7c5-6f96-48d0-b743-3731b83140de.vsidx
Project/.vs/Project/FileContentIndex/580813ed-074c-4d82-b383-fe40ce00b4aa.vsidx
Project/.vs/Project/FileContentIndex/f3017ddc-801d-427a-8db5-be99b8f160e1.vsidx
Project/.vs/Project/FileContentIndex/73768d58-bb8d-4af2-b741-e4618223c0fd.vsidx
Project/.vs/Project/FileContentIndex/6e2214e6-f354-4eb8-bccd-3062d1d2afc8.vsidx
Project/.vs/Project/FileContentIndex/69190b07-0482-4653-b7af-26282fed50b4.vsidx
Project/.vs/Project/FileContentIndex/1a3a62f1-76ed-4a3d-abf7-6035a0a544a6.vsidx
Project/.vs/Project/FileContentIndex/6cc1826b-8ceb-4b64-bb21-f360e4cccd88.vsidx
Project/.vs/Project/FileContentIndex/e1651a6e-3c03-454f-9d5c-acd3860823b6.vsidx
Project/.vs/Project/FileContentIndex/ea7b2cf5-85cc-4229-9477-321868465a0f.vsidx
Project/Project.Server/bin/Debug/net8.0/Project.Server.dll
Project/Project.Server/bin/Debug/net8.0/Project.Server.exe
Project/Project.Server/bin/Debug/net8.0/Project.Server.dll
Project/Project.Server/bin/Debug/net8.0/Project.Server.exe
Project/Project.Server/bin/Debug/net8.0/spa.proxy.json
Project/.vs/Project/FileContentIndex/d137efb4-5a32-40ac-b904-c7eef816fa46.vsidx
Project/.vs/Project/FileContentIndex/5465dd24-ca40-4e96-af85-4f0383e403ae.vsidx
Project/.vs/Project/FileContentIndex/fe3612c4-fb46-423c-8a51-c334d5a04f61.vsidx
Project/Project.Server/bin/Debug/net8.0/Project.Server.dll
Project/Project.Server/bin/Debug/net8.0/Project.Server.exe
Project/Project.Server/obj/Debug/net8.0/Project.Server.dll
Project/Project.Server/obj/Debug/net8.0/Project.Server.dll
Project/.vs/Project/FileContentIndex/fc7b2bca-e20c-492b-a116-8ed11be3737c.vsidx
Project/.vs/Project/FileContentIndex/54def03c-79e9-4377-8931-7b18e7026961.vsidx
Project/.vs/Project/FileContentIndex/dfe10137-1295-4a74-b962-f6163336b4ab.vsidx
Project/.vs/Project/FileContentIndex/ee5a766f-3b79-4a87-b306-a06c9d0c089e.vsidx
Project/.vs/Project/FileContentIndex/38b7d2e7-a549-4869-99af-2d40253c923b.vsidx
Project/.vs/Project/FileContentIndex/5aceb2c6-b2a9-4dfa-9b13-9726b2ced8c9.vsidx
Project/.vs/Project/FileContentIndex/95b41a42-5339-4dbd-b7bf-04fb9f88e6db.vsidx
Project/.vs/Project/FileContentIndex/f1526d90-8ad6-4ef3-8933-802dfdf5a7ef.vsidx
Project/Project.Server/bin/Debug/net8.0/Project.Server.dll
Project/Project.Server/bin/Debug/net8.0/Project.Server.exe
Project/.vs/Project/FileContentIndex/c3f04256-47e2-4ccb-bef7-4de68064c2f3.vsidx
Project/.vs/Project/FileContentIndex/18485175-c6e0-4994-8fde-dd51b559c62d.vsidx
Project/.vs/Project/FileContentIndex/a57fe750-8d94-4769-9cf6-116878a61ec2.vsidx
Project/.vs/Project/FileContentIndex/35932715-7e01-456a-88be-d9b22519da27.vsidx
Project/.vs/Project/FileContentIndex/5e2fd0d3-3f90-452b-8e52-87ebbc68de67.vsidx
Project/.vs/Project/FileContentIndex/80fb4ffe-1bee-452d-bde1-8a8144315acc.vsidx
Project/.vs/Project/FileContentIndex/a98a2d8a-a343-4529-931e-1cef2440e0b7.vsidx
Project/.vs/Project/FileContentIndex/c0bc26df-35a1-4a96-b5b2-567be671ab28.vsidx
Project/.vs/Project/FileContentIndex/1ee7f98d-128b-4b6f-9269-35c71a1ca40a.vsidx
Project/.vs/Project/FileContentIndex/45ac304b-67b0-42b0-82da-4c7a31fbfc71.vsidx
Project/.vs/Project/FileContentIndex/772a9286-22a4-4731-bcb3-41cf4e90ab18.vsidx
Project/.vs/Project/FileContentIndex/b30c2f58-fffa-437e-8fee-32e787b27bff.vsidx
Project/.vs/ProjectEvaluation/project.metadata.v9.bin
Project/.vs/ProjectEvaluation/project.projects.v9.bin
Project/.vs/ProjectEvaluation/project.strings.v9.bin
Project/Project.Server/bin/Debug/net8.0/Project.Server.exe
Project/Project.Server/bin/Debug/net8.0/Project.Server.dll
Project/Project.Server/obj/Project.Server.csproj.nuget.g.props
Project/Project.Server/obj/Project.Server.csproj.nuget.dgspec.json
Project/Project.Server/obj/project.nuget.cache
Project/Project.Server/obj/project.assets.json
Project/Project.Server/obj/Debug/net8.0/spa.proxy.json
Project/Project.Server/obj/Debug/net8.0/refint/Project.Server.dll
Project/Project.Server/obj/Debug/net8.0/ref/Project.Server.dll
Project/Project.Server/obj/Debug/net8.0/Project.Server.sourcelink.json
Project/Project.Server/obj/Debug/net8.0/Project.Server.pdb
Project/Project.Server/obj/Debug/net8.0/Project.Server.GeneratedMSBuildEditorConfig.editorconfig
Project/Project.Server/obj/Debug/net8.0/Project.Server.dll
Project/Project.Server/obj/Debug/net8.0/Project.Server.csproj.CoreCompileInputs.cache
Project/Project.Server/obj/Debug/net8.0/Project.Server.csproj.AssemblyReference.cache
Project/Project.Server/obj/Debug/net8.0/Project.Server.assets.cache
Project/Project.Server/obj/Debug/net8.0/Project.Server.AssemblyInfoInputs.cache
Project/Project.Server/obj/Debug/net8.0/Project.Server.AssemblyInfo.cs
Project/Project.Server/obj/Debug/net8.0/apphost.exe
Project/.vs/Project/FileContentIndex/125f6fe0-6458-4740-9944-f68c2c9b3d6e.vsidx
Project/.vs/Project/FileContentIndex/4170c367-91b7-436e-8649-daeb00c28d22.vsidx
Project/.vs/Project/FileContentIndex/c448edd3-b23d-4f3b-bbc5-598fe35bd1b0.vsidx
Project/.vs/Project/FileContentIndex/f8741cdb-282a-46cc-9aa8-c24034991d01.vsidx
Project/.vs/Project/FileContentIndex/9950ae83-03e4-4c59-905b-6621608d0eef.vsidx
Project/.vs/Project/FileContentIndex/285b248c-48e1-428a-8b95-37156aeb6f96.vsidx
Project/.vs/Project/v17/HierarchyCache.v1.txt
Project/.vs/Project/FileContentIndex/049020e3-206d-4a0a-b1e5-e04c47970b3f.vsidx
Project/.vs/Project/FileContentIndex/2a8d166b-56d8-4f94-a436-bc0247e640d6.vsidx
Project/.vs/Project/FileContentIndex/6585594f-d573-46e2-930e-8b09965a2587.vsidx
Project/.vs/Project/FileContentIndex/1233a24a-0f30-41a1-89a5-385666520426.vsidx
Project/.vs/Project/FileContentIndex/ba0defec-afad-46f1-8257-03ae90b64c59.vsidx
Project/.vs/Project/FileContentIndex/55dfd48a-3fb2-4257-8fcc-a32dcdf8d85e.vsidx
Project/.vs/Project/FileContentIndex/81ac5db6-3cef-4966-b743-e69b9bc0ea36.vsidx
Project/.vs/Project/FileContentIndex/b3624022-cf36-4c9b-ab3c-7f37216c9fbf.vsidx
Project/.vs/Project/FileContentIndex/f9fd0895-87cf-49b6-a2fe-a5992f0f2b30.vsidx
Project/.vs/Project/FileContentIndex/33efeeee-95d3-49a1-89d3-f158b50c0ff3.vsidx
