
Project/.vs/Project/config/applicationhost.config
Project/.vs/Project/DesignTimeBuild/.dtbcache.v2
Project/.vs/Project/FileContentIndex/279e4170-c43f-43e7-bdbd-a80c216dd0c8.vsidx
Project/.vs/Project/FileContentIndex/529ef14a-3b51-493c-8911-ad94182f5bed.vsidx
Project/.vs/Project/FileContentIndex/876b9662-148a-44b2-aee8-f8a50ea910f0.vsidx
Project/.vs/Project/FileContentIndex/a2345543-ac74-49c2-9670-ebe972c9f00a.vsidx
Project/.vs/Project/FileContentIndex/df372670-b610-433b-bd2a-3f44df05ac80.vsidx
Project/.vs/Project/v17/.suo
Project/.vs/Project/v17/DocumentLayout.json
Project/.vs/Project/FileContentIndex/67f416fa-223c-42b4-847f-48a7c808b472.vsidx
Project/.vs/Project/FileContentIndex/d87d5b67-56d1-43de-81b4-59c5ec0636f6.vsidx
Project/.vs/Project/FileContentIndex/ec26ceae-a4db-4669-96e8-2d1200a5ed06.vsidx
